@model EditAboutPageViewModel

<div>
    <div>
        <h1 class="title">@Model.AboutPageVersion.MainTitle</h1>
    </div>
    <div>
        <h4 class="short-description">@Model.AboutPageVersion.MainShortDescription</h4>
    </div>
    <div class="titleImage40">
        <img src="@Model.AboutPageVersion.MainImagePath" alt="@Model.AboutPageVersion.MainImagePath" class="image-editAboutPage" />
    </div>
    <div class="full-description">@Html.Raw(@Model.AboutPageVersion.MainFullDescription)</div>
    <hr class="horizontal-line" />
</div>
    

