@model EditAboutPageViewModel
@{
    var folderPath = "E:/C#_VS_2022/1. MY_PROJECTS/1. TourWebApp/ToursWebAppEXAMProject/wwwroot/images/AboutPage/PhotoGallery";
}

<a name="photo_gallery"></a>
<div>
    <div>
        <h1 class="title">@Model.AboutPageVersion.PhotoGalleryTitle</h1>
    </div>
    <div>
        <h4 class="short-description">@Model.AboutPageVersion.PhotoGalleryShortDescription</h4>
    </div>
    <div class="titleImage40">
        <img src="@Model.AboutPageVersion.PhotoGalleryImagePath" alt="@Model.AboutPageVersion.PhotoGalleryImagePath" class="image-editAboutPage" />
    </div>
    <div class="full-description">@Html.Raw(@Model.AboutPageVersion.PhotoGalleryFullDescription)</div>
    <div class="photoGallery">
        
        @foreach (var image in Directory.GetFiles(folderPath))
        {
            var imagePath = image.Replace("E:/C#_VS_2022/1. MY_PROJECTS/1. TourWebApp/ToursWebAppEXAMProject/wwwroot", "");

            <div class="titleImage25">
                <img src="@imagePath" alt="@imagePath" class="image-photoGallery" />
            </div>
        }
    </div>
    <hr class="horizontal-line" />
</div>
