@model EditAboutPageViewModel

<div class="">
    <h1>@Model.AboutTitle</h1>
    <h3>@Model.AboutShortDescription</h3>
    <h3>@Model.AboutFullDescription</h3>
    <img src="@Model.AboutImagePath" alt="@Model.AboutImagePath" />
</div>