@model EditAboutPageViewModel

<div>
    <div>
        <h1 class="title">@Model.AboutTitle</h1>
    </div>
    <div>
        <h4 class="short-description">@Model.AboutShortDescription</h4>
    </div>
    <div class="titleImage40">
        <img src="@Model.AboutImagePath" alt="@Model.AboutImagePath" class="image-editAboutPage" />
    </div>
    <div class="full-description">@Html.Raw(@Model.AboutFullDescription)</div>
    <hr class="horizontal-line" />
</div>