@model EditAboutPageViewModel

<a name="details"></a>
<div class="displayflex">
    <h1 class="title">@Model.DetailsTitle</h1>
    <h4 class="short-description">@Model.DetailsShortDescription</h4>
    <div class="full-description">@Html.Raw(@Model.DetailsFullDescription)</div>
    <img src="@Model.DetailsImagePath" alt="@Model.DetailsImagePath" class="image-editAboutPage" />

    <h3>Название компании:</h3>
    <p>@ConfigData.CompanyName</p>
    <h3>Электронная почта:</h3>
    <p>@ConfigData.CompanyEmail</p>
    <h3>Контактный телефон:</h3>
    <p>@ConfigData.CompanyPhone</p>
    <hr class="horizontal-line" />
</div>