@model EditAboutPageViewModel

<a name="feedback"></a>
<div class="displayflex">
    <h1 class="title">@Model.FeedbackTitle</h1>
    <h4 class="short-description">@Model.FeedbackShortDescription</h4>
    <div class="full-description">@Html.Raw(@Model.FeedbackFullDescription)</div>
    <img src="@Model.FeedbackImagePath" alt="@Model.FeedbackImagePath" class="image-editAboutPage" />
    <hr class="horizontal-line" />
</div>
