@model EditAboutPageViewModel

<div class="displayflex">
    <h1 class="title">@Model.MainTitle</h1>
    <h4 class="short-description">@Model.MainShortDescription</h4>
    <div class="full-description">@Html.Raw(@Model.MainFullDescription)</div>
    <img src="@Model.MainImagePath" alt="@Model.MainImagePath" class="image-editAboutPage"/>
    <hr class="horizontal-line" />
</div>
