@model EditAboutPageViewModel

<div class="">
    <h1>@Model.MainTitle</h1>
    <h3>@Model.MainShortDescription</h3>
    <h3>@Model.MainFullDescription</h3>
    <img src="@Model.MainImagePath" alt="@Model.MainImagePath" />
</div>
