@model EditAboutPageViewModel

<div class="">
    <h1>@Model.OperationModeTitle</h1>
    <h3>@Model.OperationModeShortDescription</h3>
    <h3>@Model.OperationModeFullDescription</h3>
    <img src="@Model.OperationModeImagePath" alt="@Model.OperationModeImagePath" />
</div>