@model EditAboutPageViewModel

<a name="photo_gallery"></a>
<div>
    <<div>
        <h1 class="title">@Model.PhotoGalleryTitle</h1>
    </div>
    <div>
        <h4 class="short-description">@Model.PhotoGalleryShortDescription</h4>
    </div>
    <div class="titleImage40">
        <img src="@Model.PhotoGalleryImagePath" alt="@Model.PhotoGalleryImagePath" class="image-editAboutPage" />
    </div>
    <div class="full-description">@Html.Raw(@Model.PhotoGalleryFullDescription)</div>
    <hr class="horizontal-line" />
</div>
