@model EditAboutPageViewModel

<div class="">
    <h1>@Model.PhotoGalleryTitle</h1>
    <h3>@Model.PhotoGalleryShortDescription</h3>
    <h3>@Model.PhotoGalleryFullDescription</h3>
    <img src="@Model.PhotoGalleryImagePath" alt="@Model.PhotoGalleryImagePath" />
</div>
