@model EditAboutPageViewModel

<a name="photo_gallery"></a>
<div class="displayflex">
    <h1 class="title">@Model.PhotoGalleryTitle</h1>
    <h4 class="short-description">@Model.PhotoGalleryShortDescription</h4>
    <div class="full-description">@Html.Raw(@Model.PhotoGalleryFullDescription)</div>
    <img src="@Model.PhotoGalleryImagePath" alt="@Model.PhotoGalleryImagePath" class="image-editAboutPage" />
    <hr class="horizontal-line" />
</div>
