@model TechTaskViewModel

<div class="aboutPage">
    
    @await Html.PartialAsync("AboutButtonMenuPartial")

    <div class="aboutHeader">
        
        <h1 class="title">Техзадание для страницы с информацией о нас и для боковой панели Aside:</h1><br/>
        <h3 class="title">Вход ограничен ролями "admin" и "superadmin"</h3><br />
        <hr class="horizontal-line" />
        
        <div class="text-center">
            
            <form asp-controller="About" asp-action="TechTaskAbout" method="post">
            
                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" asp-for="@Model.PageName" /><br/>    
                <label for="techTask">Прогресс выполнения технического задания:</label><br/>
                <progress min="0" max="100" value="@Model.ExecuteTechTasksProgress">
                </progress><span>@Model.ExecuteTechTasksProgress%</span>
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask1" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask1" value="false"/>
                1. Данная страница д. содержать:
                <br/><strong>блок навигационных кнопок:</strong> "Наши реквизиты", "Режим работы", "Фотогаллерея", "Обратная связь", "Edit AboutPage", "ТЗ для About"
                <br /><strong>блок рекизитов тур.фирмы</strong>
                <br /><strong>блок с информацией о режиме работы турфирмы</strong>
                <br /><strong>блок с фотографиями путешествий по странам мира</strong>
                                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask2" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask2" value="false"/>
                2. Д.б. <strong>страница для создания, редактирования и удаления разных версий страницы About</strong>.
                <br />Д.б. организован <strong>доступ к данной функциональности по ролям "superadmin", "editor"</strong>
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask3" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask3" value="false"/>
                3. Д.б. <strong>страница с формой обратной связи с клиентами туристической фирмы</strong>
                <br />Д.б. реализован <strong>функционал создания, отправки, сохранения вопросов от клиентов и просмотра  ответов на них от туристической фирмы</strong> (+ для боковой панели)
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask4" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask4" value="false"/>
                4. Д.б. реализована возможность <strong>звонить из приложения и отправлять сообщения по email</strong> (+ для боковой панели)

                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask5" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask5" value="false"/>
                5. Д.б. реализована возможность <strong>общения с клиентами через социальные сети Facebook, WhatsApp, Telegram, Viber</strong> (+ для боковой панели)

                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask6" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask6" value="false"/>
                6. Дополнительно:
                <br />М.б. реализован <strong>функционал подсчета стоимости поездки</strong> (+ для боковой панели)
                               
                <br/><br/>
                <input type="submit" value="Сохранить" />
            </form>
                
        </div>
    </div>
</div>

