@model TechTaskViewModel

<div class="supportPage">
    
    @await Html.PartialAsync("SupportButtonMenuPartial")

    <div class="supportHeader">
        
        <h1 class="title">Техзадание для страницы поддержки пользователей:</h1><br />
        <h4 class="title">Вход ограничен ролями "admin" и "superadmin"</h4><br />
        <hr class="horizontal-line" />

        <div class="text-center">
            
            <form asp-controller="Support" asp-action="TechTaskSupport" method="post">
            
                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" asp-for="@Model.PageName" /><br/>    
                <label for="techTask">Прогресс выполнения технического задания:</label><br/>
                <progress min="0" max="100" value="@Model.ExecuteTechTasksProgress">
                </progress><span>@Model.ExecuteTechTasksProgress%</span>
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask1" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask1" value="false"/>
                1. Данная страница д. содержать:
                <br /><strong>блок навигационных кнопок:</strong> "Перевод текста", "Карта" или "Прогноз погоды", "ТЗ для Support";
                <br />по нажатию на кнопку <strong>"Перевод текста"</strong> - раскрывается область, в кот. слева - текст, кот.
                н.перевести, а справа - перевод на иностр. язык
                <br />по нажатию на кнопку <strong>"Карта"</strong> - раскрывается область, в кот. появляется карта данной местности
                <br />по нажатию на кнопку <strong>"Прогноз погоды"</strong> - раскрывается область, в кот. появляется прогноз погоды для данной местности
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask2" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask2" value="false"/>
                2. Д.б. создана <strong>страница с возможностью перевода текстов на иностранный язык</strong> с использованием <strong>Google Translate API</strong>
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask3" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask3" value="false"/>
                3. Д.б. создана <strong>страница с выводимой картой местности</strong>, с использованием <strong>Google Map API</strong>
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask4" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask4" value="false"/>
                4. М.б. создана <strong>страница с прогнозом погоды для данной местности</strong>, с использованием <strong>Open Weather API</strong>

                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask5" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask5" value="false"/>
                5. М.б. создана <strong>страница с информацией о странах, об их географическом положении, об их достопримечательностях</strong>
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask6" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask6" value="false"/>
                6. Дополнительно:
                <br />М.б. создана <strong>страница с информацией о странах, об их истории, политическом устройстве, праве, традициях и обычаях местного населения, об объектах сферы гостеприимства (гостинницы, кафе и т.д.)</strong>
               
                <br/><br/>
                <input type="submit" value="Сохранить" />
            </form>
                    
        </div>
    </div>
</div>