@model List<New>

@{
    ViewData["Title"] = "Home Page";
}

<div class="homePage">
    @await Html.PartialAsync("../Home/HomeButtonMenuPartial")

    <div class="homeHeader">
        @foreach(var newItem in Model)
        {
            <div>
                <div class="titleImage">
                    <img src="@newItem.TitleImagePath" alt="@newItem.TitleImagePath" align="left" class="new-foto">
                </div>
                <div class="displayFlexCol">
                    <div>
                        <h2>@newItem.Name</h2>
                    </div>
                    <div>
                        <h4>@newItem.ShortDescription</h4>
                    </div>
                    <div class="dateAdded">
                        <h4>@newItem.DateAdded</h4>
                        <a asp-controller="News" asp-action="GetNew" asp-route-id="@newItem.Id">Подробнее ...</a>
                    </div>
                </div>
            </div> 
        }
    </div>
</div>
 
    
 

 