<div class="editPage">
    
    @await Html.PartialAsync("EditButtonMenuPartial")

    <div class="editHeader">
        
        <h3 class="title">Вход ограничен ролями "editor" и "superadmin"</h3><br />
        <hr class="horizontal-line" />

        @foreach(var item in @Model)
        {
            var typeString = item.GetType().ToString();

            var type = typeString.Remove(0, 30);
            <div>
                <div>
                    <h2>@item.Name</h2>
                </div>
                <div>
                    <h4>@item.ShortDescription</h4>
                </div>
                <div class="editDelete">
                    <a asp-area="" asp-controller="Edit" asp-action="EditItem" asp-route-id="@item.Id" asp-route-type="@type">редактировать</a>	
                    <a asp-area="" asp-controller="Edit" asp-action="DeleteItem" asp-route-id="@item.Id" asp-route-type="@type">удалить</a>
                </div>
            </div>
        }
    </div>
</div>
