@model TechTaskViewModel

<div class="editPage">
    
    @await Html.PartialAsync("EditButtonMenuPartial")

    <div class="editHeader">
                 
        <h1 class="title">Техзадание для для страницы администратора сайта:</h1><br />
        <h4 class="title">Вход ограничен ролями "admin" и "superadmin"</h4><br />
        <hr class="horizontal-line" />

        <div class="text-center">

            <form asp-controller="Edit" asp-action="TechTaskEdit" method="post">

                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" asp-for="@Model.PageName" /><br/>    
                <label for="techTask">Прогресс выполнения технического задания:</label><br/>
                <progress min="0" max="100" value="@Model.ExecuteTechTasksProgress">
                </progress><span>@Model.ExecuteTechTasksProgress%</span>

                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask1" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask1" value="false"/>
                1. Данная страница д. содержать:
                <br/><strong>блок навигационных кнопок: </strong> "Редактировать новости", "Редактировать блоги", "Редактировать турпродукты", "ТЗ для Edit";
                <br/><strong>общее меню поиска сущностей (новостей/блогов/турпродуктов) по их полному названию / или по ключевому слову </strong> из названия сущности для выборки из БД;
                <br/><strong>страницу со списком выбранных сущностей</strong>, отвечающих критериям поиска.
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask2" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask2" value="false"/>
                2. Д.б. создана <strong>страница создания, редактирования и удаления новости</strong>, ее названия, краткого и полного описания, пути к титульной картинке
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask3" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask3" value="false"/>
                3. Д.б. создана <strong>страница создания, редактирования и удаления блога</strong>, его названия, краткого и полного описания, пути к титульной картинке

                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask4" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask4" value="false"/>
                4. Д.б. создана <strong>страница создания, редактирования и удаления туристического продукта</strong>, его названия, краткого и полного описания, пути к титульной картинке
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask5" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask5" value="false"/>
                5. Д.б. организован <strong>доступ для входа на страницу - для редактирования данных БД</strong> - только для сотрудников турфирмы, у кот. <strong> роль "superadmim" илм "editor"</strong>
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask6" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask6" value="false"/>
                6. Дополнительно:
                <br />М.б. созданы <strong>3 роли с разным доступом: </strong>
                <br />М.б. создана <strong>страница создания, редактирования и удаления страны</strong>, ее названия, краткого и полного описания, пути к титульной картинке
                <br />М.б. создана <strong>страница создания, редактирования и удаления города</strong>, его названия, краткого и полного описания, пути к титульной картинке

                <br/><br/>
                <input type="submit" value="Сохранить" />
            </form>
         </div>
    </div>
</div>