<div class="adminPage">
    
    @await Html.PartialAsync("AdminButtonMenuPartial")

    <div class="adminHeader">
        
        @foreach(var item in @Model)
        {
            var typeString = item.GetType().ToString();

            var type = typeString.Remove(0, 30);
            <div>
                <div>
                    <h2>@item.Name</h2>
                </div>
                <div>
                    <h4>@item.ShortDescription</h4>
                </div>
                <div class="editDelete">
                    <a asp-area="" asp-controller="Admin" asp-action="EditItem" asp-route-id="@item.Id" asp-route-type="@type">редактировать</a>	
                    <a asp-area="" asp-controller="Admin" asp-action="DeleteItem" asp-route-id="@item.Id" asp-route-type="@type">удалить</a>
                </div>
            </div>
        }
    </div>
</div>
