<div class="adminPage">
    <div class="adminButton">
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="Index">Администратору сайта</a>
        </button>
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="EditMenu" asp-route-type="New">Редактировать новости</a>
        </button>
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="EditMenu" asp-route-type="Blog">Редактировать блоги</a>
        </button>
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="EditMenu" asp-route-type="Product">Редактировать турпродукты</a>
        </button>
    </div>
    <div class="adminHeader">
        
        @foreach(var item in @Model)
        {
            var type = item.GetType().ToString();
            <div>
                <div>
                    <h2>@item.Name</h2>
                </div>
                <div>
                    <h4>@item.ShortDescription</h4>
                </div>
                <div class="editDelete">
                    <a asp-area="" asp-controller="Admin" asp-action="EditItem" asp-route-id="@item.Id" asp-route-type="@type">редактировать</a>	
                    <a asp-area="" asp-controller="Admin" asp-action="DeleteItem" asp-route-id="@item.Id" asp-route-type="@type">удалить</a>
                </div>
            </div>
        }
    </div>
</div>
