<div class="adminPage">
    
    @await Html.PartialAsync("AdminButtonMenuPartial")

    
    <div class="adminHeader">
        
        <h3 class="title">Сохранение объекта прошло  успешно!</h3>
        <h4 class="title">Данные сохраненного объекта:</h4>
        <hr class="horizontal-line" />
        <br />
        <div>
            <div class="displayFlexCol">
                <h4>Название:</h4> 
                <p>@Model.Name</p>
            </div>
            <div class="displayFlexCol">
                <h4>Краткое описание:</h4> 
                <p>@Model.ShortDescription</p>
            </div>
            <div class="displayFlexCol">
                <h4>Полное описание:</h4> 
                <p>@Model.FullDescription</p>
            </div>
            <div class="displayFlexCol">
                <h4>Все сообщения:</h4>
                <p>@Model.FullMessageLine</p>
            </div>
            <div class="displayFlexCol">
                <h4>Титульная картинка:</h4> 
                <p>@Model.TitleImagePath</p>
            </div>
            <div class="displayFlexCol">
                <h4>Время создания:</h4>
                <p>@Model.DateAdded</p>
            </div>
        </div>
     </div>
</div>
