@model List<Blog>
@{
    ViewData["Title"] = "Home Page";
}

<div class="homePage">
         
    @await Html.PartialAsync("HomeButtonMenuPartial")

    <div class="homeHeader">
        @foreach(var blog in Model)
        {
            <div>
                <div class="titleImage">
                    <img src="@blog.TitleImagePath" alt="@blog.TitleImagePath" align="left">
                </div>
                <div class="displayFlexCol">
                    <div>
                        <h2>@blog.Name</h2>
                    </div>
                    <div>
                        <h4>@blog.ShortDescription</h4>
                    </div>
                    <div class="dateAdded">
                        <h4>@blog.DateAdded</h4>
                        <a asp-controller="Home" asp-action="GetBlog" asp-route-id="@blog.Id">Подробнее ...</a>
                    </div>
                </div>
            </div> 
        }
    </div>
</div>