@model Blog
@{
    ViewData["Title"] = "Home Page";
}

<div class="homePage">
    
    @await Html.PartialAsync("HomeButtonMenuPartial")

    <div class="homeHeaderOne">
        <div class="titleImage50">
            <img src="@Model.TitleImagePath" alt="@Model.TitleImagePath" align="left">
            @*<p>Расположение фото: </p>
            <h3>@Model.TitleImagePath</h3>*@
        </div>
        <div>
            <h2>@Model.Name</h2>
        </div>
        <div>
            @Html.Raw(Model.FullDescription)
        </div>
        <div class="displayFlexRow">
            <h4>Id блога: @Model.Id</h4>
            <h4>Дата: @Model.DateAdded</h4>
        </div>
    </div>
</div>
