@model NewsAndBlogsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="homePage">
    
    @await Html.PartialAsync("HomeButtonMenuPartial")

    <div class="homeHeader">
        <h1 class="title">Домашняя страница сайта:</h1><br />
        <hr class="horizontal-line"/><br/>

        <div class="displayFlex row">
            <div class="col-6 col-12-medium">
                @foreach(var newItem in Model.AllNews)
                {
                    <div>
                        <div class="titleImage">
                            <img src="@newItem.TitleImagePath" alt="@newItem.TitleImagePath" align="left" width="20%" height="20%">
                        </div>
                        <div>
                            <h2>@newItem.Name</h2>
                        </div>
                        <div>
                            <h4>@newItem.ShortDescription</h4>
                        </div>
                        <div class="dateAdded">
                            <h4>@newItem.DateAdded</h4>
                            <a asp-controller="News" asp-action="GetNews" asp-route-id="@newItem.Id">Подробнее ...</a>
                        </div>
                    </div> 
                }
            </div>
            <div class="col-6 col-12-medium">
                @foreach(var blog in Model.AllBlogs)
                {
                    <div>
                        <div class="titleImage">
                            <img src="@blog.TitleImagePath" alt="@blog.TitleImagePath" align="left" width="20%" height="20%">
                        </div>
                        <div>
                            <h2>@blog.Name</h2>
                        </div>
                        <div>
                            <h4>@blog.ShortDescription</h4>
                        </div>
                        <div class="dateAdded">
                            <h4>@blog.DateAdded</h4>
                            <a asp-controller="Blogs" asp-action="GetBlogs" asp-route-id="@blog.Id">Подробнее ...</a>
                        </div>
                    </div>
                }
            </div>          
        </div>
    </div>
</div>
