@model TechTaskViewModel

<div class="homePage">
   
    @await Html.PartialAsync("HomeButtonMenuPartial")

    <div class="homeHeader">
        
        <h1 class="title">Техзадание для домашней страницы сайта:</h1><br />
        <h3 class="title">Вход ограничен ролями "admin" и "superadmin"</h3><br />
        <hr class="horizontal-line" />

        <div class="text-center">
           <form asp-controller="Home" asp-action="TechTaskHome" method="post">
              
                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" asp-for="@Model.PageName" /><br/>    
                <label for="techTask">Прогресс выполнения технического задания:</label><br/>
                <progress min="0" max="100" value="@Model.ExecuteTechTasksProgress">
                </progress><span>@Model.ExecuteTechTasksProgress%</span>
                <br/><br/>

                +<input type="radio" asp-for="@Model.IsExecuteTechTask1" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask1" value="false"/>
                1. Данная страница д.содержать:
                <br /><strong>блок навигационных кнопок: </strong> "Новости со всего мира", "Блоги о туризме", "Резерв", "ТЗ для Home"
                <br /><strong>большую пейзажную фоновую картинку</strong> (м.б. море, тропический остров с пальмами) 
                <br /><strong> списки новостей и блогов о туризме с вертикальными скроллами</strong>, которые загружаются при открытии                      страницы вертикальными полосами слева и справа;
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask2" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask2" value="false"/>
                2. Д.б. создана <strong>страница со списком новостей</strong>, кот. б. открываться по нажатию на кнопку <strong>"Новости со                 всего мира"</strong>.
                <br />В списке новостей <strong>для каждой новости</strong> указываются - титульная картинка, название новости, краткое                     описание новости, ссылка на полное описание новости.
                <br />При нажатии на ссылку <strong>"Подробнее"</strong> - открывается новость - с титульной картинкой, с названием                     новости, с полным описанием новости, id новости и датой сохранения

                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask3" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask3" value="false"/>
                3. Д.б. создана <strong>страница со списком блогов</strong>, кот. б. открываться по нажатию на кнопку <strong>"Блоги о                      туризме"</strong>.
                <br />В списке блогов <strong>для каждого блога</strong> указываются - титульная картинка, название блога, краткое описание                 блога, ссылка на полное описание блога.
                <br />При нажатии на ссылку <strong>"Подробнее"</strong> - открывается блог - с титульной картинкой, с названием блога,                 с полным описанием блога, с сообщениями блоггеров по данной теме, id блога и датой сохранения
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask4" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask4" value="false"/>
                4. Д.б. реализован <strong>механизм создания, редактирования, удаления текстовых сообщений</strong>.
                <br />Д.б. реализован <strong>механизм получения, пересылки и сохранения текстовых сообщений блоггеров</strong>.
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask5" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask5" value="false"/>
                5. Д.б. реализован <strong>механизм оценивания прогресса выполнения технических задач для каждой страницы</strong>. 
                <br />По нажатию на кнопки <strong>"ТЗ для Home", "ТЗ для Search", "ТЗ для Admin", "ТЗ для Support", "ТЗ для About"</strong>                 - д. открываться соответсвующие <strong>страницы со шкалой прогресса и возможностью редактирования и сохранения выполненных                ТЗ</strong>. 
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask6" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask6" value="false"/>
                6. Дополнительно:
                <br />М.б. создан <strong>дополнительный функционал:</strong> <strong>"последние прочитанные новости/блоги"</strong> или                    <strong>"статистика прочтения новостей/написания сообщений в блогах"</strong>, или <strong>"чаще всего читают новости/                      блоги"</strong> и т.д.
                
                <br/><br/>
                <input type="submit" value="Сохранить" />
           </form>
        </div>
    </div>
</div>