@model List<Product>

@{
   <div class="searchPage">
        <div class="searchButton">
            <button class="">
                <a class="" asp-area="" asp-controller="Search" asp-action="GetAllProducts">Поиск туров</a>
             </button>
             <button class="">
                <a class="" asp-area="" asp-controller="Search" asp-action="GetProduct" asp-route-id="">Найти тур</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="Search" asp-action="">Резерв"</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="Search" asp-action="TechTaskSearch">ТЗ для Search</a>
             </button>
        </div>
        <div class="searchHeader">
            @foreach(var product in @Model)
            {
                <div>
                    <div class="titleImage">
                        <img src="@product.TitleImagePath" alt="@product.TitleImagePath" align="left">
                    </div>    
                    <div class="displayFlexCol">
                        <div>
                            <h2>@product.Name</h2>
                        </div>
                        <div>
                            <h4>@product.ShortDescription</h4>
                        </div>
                         <div class="dateAdded">
                            <h4>@product.DateAdded</h4>
                            <a asp-controller="Search" asp-action="GetProduct" asp-route-id="@product.Id">Подробнее ...</a>
                        </div>
                    </div>
                </div>
            }
        </div>
   </div>
}






