@model SearchProductViewModel
@{
    ViewData["Title"] = "Search Page";
     
}

<div class="searchPage">
    <div class="searchButton">
        <button class="">
            <a class="" asp-area="" asp-controller="Search" asp-action="GetAllProducts">Поиск туров</a>
        </button>
        <button class="">
            @{
                //  TODO:  реализовать поиск тура по id, имени или др. параметрам
            }
            <a class="" asp-area="" asp-controller="Search" asp-action="GetProduct" asp-route-id="">Найти тур</a>
        </button>
        <button class="">
            <a class="" asp-area="" asp-controller="Search" asp-action="">Резерв"</a>
        </button>
        <button class="">
            <a class="" asp-area="" asp-controller="Search" asp-action="TechTaskSearch">ТЗ для Search</a>
        </button>
    </div>
    <div class="searchHeader">
        <h1>Поиск туристических продуктов:</h1>
        <br/>
        <div class="searchMenu">  

            <form asp-controller="Search" asp-action="" method="post">

                <div class="flexRow searchBlock1">   
                    
                    <asp></asp>

                    @*Список стран (выпадающий список, единственный выбор)
                        По выбранной стране будет выводиться список городов этой страны*@
                    <div class="flexColumn blockWidth20">
                        <label asp-for="@Model.CountryNameFromSelectList"></label>
                        <select asp-for="@Model.CountryNameFromSelectList" 
                            asp-items="@Html.GetEnumSelectList<CountriesListEnum>()">
                            <option>Выберите одну страну</option>
                        </select>
                    </div>
                    
                    @*Даты поездки (выпадающий календарь, по интервалу "от" и "до")*@
                    <div class="flexColumn blockWidth20">
                        <label asp-for="@Model.DaysInterval"></label>
                        <input asp-for="@Model.DaysInterval" />
                    </div>
                    
                    @*Количество дней отдыха (выпадающий список, единственный выбор, + свой выбор)*@
                    <div class="flexColumn blockWidth20">
                        <label asp-for="@Model.NumberOfDaysFromSelectList"></label>
                        <select asp-for="@Model.NumberOfDaysFromSelectList" 
                            asp-items="@Html.GetEnumSelectList<NumberOfDaysEnum>()"></select>
                    </div>
                
                    @*Количество взрослых и детей (выпадающий список, единственный выбор, + свой набор)*@
                    <div class="flexColumn blockWidth20">
                        <label asp-for="@Model.NumberOfPeopleFromSelectList"></label>
                        <select asp-for="@Model.NumberOfPeopleFromSelectList" 
                            asp-items="@Html.GetEnumSelectList<NumberOfPeopleEnum>()"></select>
                    </div>
                    
                    @*Кнопка "Найти тур"*@
                    <div class="flexColumn blockWidth20">
                        <input type="submit" value="Найти тур" />
                    </div>
                </div> 
                <div class="flexRow searchBlock2">   
                    @*Список городов (выпадающий список, множественный выбор)
                      Список городов выводится по выбранной стране*@
                    <div class="flexColumn blockWidth20">
                            <label asp-for="@Model.CityFromSelectList"></label>
                            <select  asp-for="@Model.CityFromSelectList" 
                                 asp-items="@Html.GetEnumSelectList<CitiesListEnum>()">
                                 <option>Выберите один город</option>
                            </select>
                        </div>
                        @*Карта страны / Фото страны, городов, достопримечательностей (одна картинка / фото)*@
                        <div class="flexColumn blockWidth60">
                            <label asp-for="@Model.MapImagePath"></label>
                            <img src="@Model.MapImagePath" alt="Карта страны / Фото страны, городов, достопримечательностей"/>
                        </div>
                        @*Описание страны, городов, достопримечательностей (1 - страны, 2 - города, 3 - достопримечательности)*@
                        <div class="flexColumn blockWidth20">
                            <label asp-for="@Model.CountryDescription"></label>
                            <p>@Model.CountryDescription</p>
                            <label asp-for="@Model.CityDescrition"></label>
                            <p>@Model.CityDescrition</p>
                            <label asp-for="@Model.LocalDescrition"></label>
                            <p>@Model.LocalDescrition</p>
                        </div>
                    </div>
                     <div class="flexColumn searchBlock2">
                         <p>Вы выбрали:</p>
                         <p>Страна: @Model.CountryNameFromSelectList</p>
                         <p>Город: @Model.CityFromSelectList</p>
                         <p>Даты: @Model.DaysInterval</p>
                             <p>Количество дней:  @Model.NumberOfDaysFromSelectList </p>
                             <p>Количество людей: @Model.NumberOfPeopleFromSelectList</p>
                         <p>Описания: </p>
                         <p>Страны: @Model.CountryDescription </p>
                         <p>Города: @Model.CityDescrition </p>
                         <p>Достопримечательности: @Model.LocalDescrition</p>
                       
                         <p>Карта: @Model.MapImagePath</p>
                    </div>
                </form>
            </div>
        
               
            @{
                #region Список турист. продуктов (коллекция всех экземпляров в БД)
       
                @*  @foreach(var product in @Model.ProductBaseInterface.GetAllItems())
                    {
                        <div>
                            <div class="titleImage">
                                <img src="@product.TitleImagePath" alt="@product.TitleImagePath" align="left" width="20%" height="20%">
                            </div>    
                            <div>
                                <h2>@product.Name</h2>
                            </div>
                            <div>
                                <h4>@product.ShortDescription</h4>
                            </div>
                                <div class="dateAdded">
                                <h4>@product.DateAdded</h4>
                                <a asp-controller="Search" asp-action="GetProduct" asp-route-id="@product.Id">Подробнее ...</a>
                            </div>
                        </div>
                    }
                *@
                #endregion
             }
        </div>
    </div>
