@model SearchProductViewModel
@{
    ViewData["Title"] = "Search Page";

    string ParseListOfStringsToString(List<string> allItemsListOfString)
	{
		var allItemsOneString = "";
		allItemsOneString = String.Join(",", allItemsListOfString);

		return allItemsOneString;
	}
}

<div class="searchPage">
    
    @await Html.PartialAsync("SearchButtonMenuPartial")

    <div class="searchHeader">
        <h1 class="title">Поиск туристических продуктов:</h1>
        <<hr class="horizontal-line" />
        <br />
        <div class="searchMenu">  

            <form class="form" asp-controller="Search" asp-action="Index" method="post" name="myForm">
                
                @*свойства, кот. передаются в  строковом виде или с приведением к строке*@
                <input type="hidden" asp-for="CountryId" value="@Model.CountryId" />
                <input type="hidden" asp-for="AllCountriesAndCitiesByString" value="@Model.AllCountriesAndCitiesByString" id="AllCountriesAndCities" />
                <input type="hidden" asp-for="AllCountriesAndMapsByString" value="@Model.AllCountriesAndMapsByString" id="AllCountriesAndMaps" />
                @*<input type="hidden" asp-for="CityNameSelected" />*@

                @*свойства, кот. предварительно преобразуются в строки*@
                @*<input type="hidden"  name="CountriesOneStringFormValue" value="@ParseListOfStringsToString(Model.Countries)" />
                <input type="hidden"  name="CitiesOneStringFormValue" value="@ParseListOfStringsToString(Model.Cities)" />*@
                
                @*свойства для данных страны и города при возврате на предыдущую страницу*@
                <input type="hidden" id="backCountry" value="" />
                <input type="hidden" id="backCity" value="" />

                @* Первый блок элементов: 
                    3 select (список стран, количество дней отдыха, количество отдыхающих), 
                    календарь и кнопка "Найти тур" *@
                
                <div class="flexRow searchBlock1">   
                    
                    @*Список стран (выпадающий список, единственный выбор)
                    По выбранной стране будет выводиться список городов этой страны class="flexColumn blockWidth20"*@
                    <div >
                        <div>
                            <label asp-for="CountryNameSelected"></label>
                            <select asp-for="CountryNameSelected" 
                                asp-items="@Model.CountriesList" id="countriesSelect">
                            </select>
                        </div>
                        @*<div id="countriesSelectDiv" class="flexColumn blockWidth20"></div>*@
                    </div>
                    
                    @*Даты поездки (выпадающий календарь, по интервалу "от" и "до") class="flexColumn blockWidth20"*@
                    @{
                        // TODO: доработать выпадающий календарь, чтобы м.б. выбирать интервал "от" и "до"
                    }
                    <div >
                        <label asp-for="DateFrom"></label>
                        <input asp-for="DateFrom" />
                        <input asp-for="DateTo" />
                    </div>
                    
                    @*Количество дней отдыха (выпадающий список, единственный выбор, + свой выбор) class="flexColumn blockWidth20"*@
                    <div >
                        <label asp-for="NumberOfDaysFromSelectList"></label>
                        <select asp-for="NumberOfDaysFromSelectList" 
                            asp-items="@Html.GetEnumSelectList<NumberOfDaysEnum>()">
                        </select>
                    </div>
                
                    @*Количество взрослых и детей (выпадающий список, единственный выбор, + свой набор) class="flexColumn blockWidth20"*@
                    <div >
                        <label asp-for="NumberOfPeopleFromSelectList"></label>
                        <select asp-for="NumberOfPeopleFromSelectList" 
                            asp-items="@Html.GetEnumSelectList<NumberOfPeopleEnum>()">
                        </select>
                    </div>
                    
                    @*Кнопка "Найти тур" class="flexColumn blockWidth20 searchButtonSubmit"*@
                    <div >
                        <input type="submit" value="Найти тур" />
                    </div>
                </div> 

                @* Второй блок элементов: 
                    1 select (список городов), карта и блоки описаний о странах, городах, достопримечательностъ
                *@

                <div class="flexRow searchBlock2">   
                    @*Список городов (выпадающий список, множественный выбор)
                    Список городов выводится по выбранной стране class="flexColumn blockWidth20"*@
                    <div >
                        <div id="divForChangeCitiesSelectList" >
                            <label asp-for="CityNameSelected"></label>
                            <select  asp-for="CityNameSelected" 
                                asp-items="@Model.CitiesList" id="citiesSelect">
                            </select>
                        </div>    
                        @*<div id="citiesSelectDiv" class="flexColumn blockWidth20"></div>*@
                    </div>
                        
                    @*Карта страны / Фото страны, городов, достопримечательностей (одна картинка / фото) class="flexColumn blockWidth60"*@
                    <div >
                        <label asp-for="MapImagePath"></label>
                        <div id="countryMap" class="">
                            @Html.Raw(Model.MapImagePath)
                        </div>
                    </div>

                    @*Описание страны, городов, достопримечательностей (1 - страны, 2 - города, 3 - достопримечательности) class="flexColumn blockWidth20"*@
                    <div class="descriptionBlock">
                        <label asp-for="CountryDescription"></label>
                        <p id="countryDesc">@Model.CountryDescription</p>
                        <label asp-for="CityDescrition"></label>
                        <p id="cityDesc">@Model.CityDescrition</p>
                        <label asp-for="LocalDescrition"></label>
                        <p id="localDesc">@Model.LocalDescrition</p>
                    </div>
                </div>
                <div>@* Блок данных информационного характера, на пермод разработки
                   В дальнейшем, будет убран из проекта
                
                
                <div class="flexColumn searchBlock2">
                    <p>Полные данные вью модели:</p><br />
                    <p>Model.CountryId / Id страны: @Model.CountryId</p>
                    <p>Model.CountryNameSelected / Страна: @Model.CountryNameSelected</p>
                    <p>Model.CountryDescription / Описание страны: @Model.CountryDescription </p>
                    <p>Model.CountriesList / Список стран:</p>
                        @foreach(var country in Model.CountriesList){
                            <p>Страна: @country.Text value: @country.Value isSelected: @country.Selected</p>
                        }
                    <br />
                                                  
                    <p>Model.CityNameSelect / Город: @Model.CityNameSelected</p>
                    <p>Model.CityDescrition / Описание города: @Model.CityDescrition </p>
                    <p>Model.LocalDescrition / Описание достопримечательности: @Model.LocalDescrition</p>
                    <p>Model.CitiesList / Список городов: </p>
                    
                    @foreach(var city in Model.CitiesList)
                    {
                        <p>Город: @city.Text value: @city.Value isSelected: @city.Selected</p>
                    }
                    <br />

                    <p>Model.DaysInterval / Даты: @Model.DaysInterval</p>
                    <p>Model.NumberOfDaysFromSelectList / Количество дней:  @Model.NumberOfDaysFromSelectList </p>
                    <p>Model.NumberOfPeopleFromSelectLi / Количество людей: @Model.NumberOfPeopleFromSelectList</p><br />
                         
                    <p>Model.MapImagePath / Карта: @Model.MapImagePath</p>
                    <p>Model.PicturesImagePath / Картинки: @Model.PicturesImagePath</p>
                </div>
                *@
                </div>
            </form>
        </div>
     </div>
</div>
@* нативный javascript на стороне клиента*@
<script type="module" src="~/js/search.js"></script>
