@model TechTaskViewModel

<div class="searchPage">
   
    @await Html.PartialAsync("SearchButtonMenuPartial")

    <div class="searchHeader">
        
        <h1 class="title">Техзадание для для страницы поиска турпродуктов:</h1><br />
        <h4 class="title">Вход ограничен ролями "admin" и "superadmin"</h4><br />
        <hr class="horizontal-line" />

        <div class="text-center">
            
            <form asp-controller="Search" asp-action="TechTaskSearch" method="post">
              
                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" asp-for="@Model.PageName" />     
                <label for="techTask">Прогресс выполнения технического задания:</label><br/>
                <progress id="techTaskPr" min="0" max="100" value="@Model.ExecuteTechTasksProgress">
                </progress><span>@Model.ExecuteTechTasksProgress%</span>
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask1" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask1" value="false"/>
                1. Данная страница д.содержать:
                <br /><strong>блок навигационных кнопок: </strong> "Поиск туров", "Все турпродуктв", "Все страны", "Все города", "ТЗ для Search"
                <br /><strong>меню поиска:</strong> страны, города, дат тура, количества туристов и кнопка ""Найти тур"
                <br /><strong>информативное меню:</strong> карта местности и описания страны, города, достопримечательностей
                <br /><strong>галерея с фото:</strong> фотографии страны, городов, достопримечательностей

                <br />По нажатию на кнопку <strong>"Поиск туров" или "Найти тур"</strong> осуществляется <strong>функционал поиска турпродукта по заданным параметрам поиска</strong> и выводится <strong>список всех найденных туристических продуктов</strong> с вертикальным скроллом
                                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask2" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask2" value="false"/>
                2. <strong>Меню поиска</strong> д.содержать: 
                <br/><strong>выпадающий список стран</strong> (элемент radiobutton - выбор только 1 страны);
                <br/><strong>выпадающие календари</strong> с <strong>датами начала и окончания тура</strong>);
                <br/><strong>выпадающий список - количество дней/ночей</strong> (элемент select - выбор 1 или больше вариантов);
                <br/><strong>выпадающий список людей</strong> (взрослых) + возможность добавить детей (количество и возраст детей) (по умолчанию - 2 взрослых, без детей)
                <br/><strong>кнопка "Найти тур"</strong>;
                <br/>Д.б. организован <strong>поиск туристических продуктов по заданным параметрам</strong>
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask3" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask3" value="false"/>
                3. <strong>Информативное меню</strong> под меню поиска, д. содержать:
                <br/><strong>раскрытый список городов</strong> данной страны;
                <br />(элемент select - выбор 1 или больше городов) (расположено - под страной) (при выборе страны - появляются города этой страны);
                <br/><strong>д.б. карта местности</strong> (рядом с городами):
                <br/><strong>описание:</strong>
                <br />при выборе страны - в верхней трети - появляется <strong>описание о стране</strong>
                <br />при выборе города - в средней трети - появляется <strong>описание о городе</strong>
                <br />а в нижней трети - появляется <strong>описание о достопримечательности</strong>
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask4" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask4" value="false"/>
                4. Д.б. реализована <strong>возможность просматривать карту страны</strong>, с нанесенными на нее городами и турпродуктами
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask5" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask5" value="false"/>
                5. Д.б. реализована <strong>галерея с фото страны, городов и достопримечательностей</strong>
                <br />выводятся все фото, кот. есть в базе; если их много и они не помещаются, то появляется горизонт. скроллинг<br/>
                
                <br/><br/>
                +<input type="radio" asp-for="@Model.IsExecuteTechTask6" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask6" value="false"/>
                6. Дополнительно:
                <br />м.б. реализована <strong>галерея с фото из гостинниц, кафе, других мест</strong>
                                
                <br/><br/>
                <input type="submit" value="Сохранить" />
            </form>
        </div>
    </div>
</div>
