@model TechTaskViewModel

<div class="searchPage">
    <div class="searchButton">
        <button class="">
            <a class="" asp-area="" asp-controller="Search" asp-action="GetAllProducts">Поиск туров</a>
        </button>
        <button class="">
            <a class="" asp-area="" asp-controller="Search" asp-action="GetProduct" asp-route-id="">Найти тур</a>
        </button>
        <button class="">
            <a class="" asp-area="" asp-controller="Search" asp-action="">Резерв"</a>
        </button>
        <button class="">
            <a class="" asp-area="" asp-controller="Search" asp-action="TechTaskSearch">ТЗ для Search</a>
        </button>
    </div>
    <div class="searchHeader">
        
        <h1>Поиск туристических продуктов:</h1><br/>
        
        <div class="text-center">
            
            <form asp-controller="Search" asp-action="TechTaskSearch" method="post">
              
                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" asp-for="@Model.PageName" />     
                <label for="techTask">Прогресс выполнения технического задания:</label><br/>
                <progress id="techTaskPr" min="0" max="100" value="@Model.ExecuteTechTasksProgress">
                </progress><span>@Model.ExecuteTechTasksProgress%</span><br/><br/>
              
                +<input type="radio" asp-for="@Model.IsExecuteTechTask1" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask1" value="false"/>
                1. Данная страница д.содержать:
                (на начальном этапе:)
                <br /><strong>блок навигационных кнопок: </strong> "Поиск туров", "Найти тур", "Резерв", "ТЗ для Search"
                <br/><strong>список всех туристических продуктов</strong>. 
                (окончательно:)    
                <br /><strong>блок навигационных кнопок: </strong> "Поиск туров", "Найти тур", "Резерв", "ТЗ для Search"
                <br /><strong>меню поиска:</strong> страны, города, дат тура, количества туристов и кнопка "Найти"
                <br /><strong>информативное меню:</strong> карта местности и описания
                <br /><strong>меню с фото:</strong> фотографии страны, города, мест отдыха</p>

                <br />По нажатию на кнопку <strong>"Поиск туров"</strong>: открывается <strong>список всех туристических продуктов
                </strong> с вертикальным скроллом
                <br />По нажатию на кнопку <strong>"Найти тур"</strong> - открывается <strong>меню поиска туристического продукта                           по параметрам</strong>
                <br />По нажатию на кнопку <strong>"Резерв"</strong> - открывается <strong>страница с ..........</strong>
                <br />По нажатию на кнопку <strong>"ТЗ для Search"</strong> - открывается <strong>данная страница</strong>
              
                +<input type="radio" asp-for="@Model.IsExecuteTechTask2" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask2" value="false"/>
                2. <strong>Меню поиска</strong> д.содержать: 
                <br/><strong>выпадающий список стран</strong> (элемент radiobutton - выбор только 1 страны);
                <br/><strong>выпадающий календарь</strong> (в кот. м.задать интервал, где д.поместиться <strong>даты начала и                               окончания тура</strong>);
                <br/><strong>выпадающий список - количество дней/ночей</strong> (элемент select - выбор 1 или больше вариантов);
                <br/><strong>выпадающий список людей</strong> (взрослых) + возможность добавить детей (количество и возраст детей)                          (по умолчанию - 2 взрослых, без детей)
                <br/><strong>кнопка "Найти туры"</strong> (т.е. input type="submit" value="Найти туры");
                <br/>Д.б. создан <strong>механизм поиска туристических продуктов по одному или нескольким параметрам</strong>
                
                +<input type="radio" asp-for="@Model.IsExecuteTechTask3" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask3" value="false"/>
                3. <strong>Информативное меню</strong> под меню поиска, д. содержать:
                <br/><strong>раскрытый список городов</strong> данной страны;
                <br />(элемент select - выбор 1 или больше городов) (расположено - под страной) (при выборе страны - появляются города этой                 страны);
                <br/><strong>карта местности</strong> (рядом с городами):
                <br />это первая картинка в горизонт. скроллинге (справа и слева - есть стрелки, в центре внизу - количество изображений в                  формате: "1 из 45");
                <br />все последующие картинки - это картинки с названием туров;
                <br/><strong>описание:</strong>
                <br />при выборе страны - в верхней трети - появляется описание о стане (общее);
                
                +<input type="radio" asp-for="@Model.IsExecuteTechTask4" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask4" value="false"/>
                4. Д.б. реализована привязка к карте местности, используя известные API для карт и возможности геолокации
                            
                +<input type="radio" asp-for="@Model.IsExecuteTechTask5" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask5" value="false"/>
                5. <strong>Меню с фотографиями</strong> всех туров и достопримечательностей в выбранном туре :
                <br/><strong>картинки всех туров</strong> в данной стране и городе/-дах;
                <br />при этом, выделяется <strong>тур, который выбран</strong> и картинка которого показывается в окне карты местности, а                  информация о котором - демонстрируется в нижней трети описания;
                <br/><strong>фото достопримечательностей</strong> в выбранном туре;
                <br />выводятся все фото, кот. есть в базе; если их много и они не помещаются, то появляется горизонт. скроллинг<br/>
            
                +<input type="radio" asp-for="@Model.IsExecuteTechTask6" value="true"/>
                -<input type="radio" asp-for="@Model.IsExecuteTechTask6" value="false"/>
                6. Дополнительно:
                <br /><strong>В информативном меню</strong> м.б. реализовано:
                <br /><strong> на карте местности:</strong>
                <br />при выборе страны - общая карта страны со всеми городами;
                <br />при выборе города/-дов через checkbox элемент - выбранный город/-да на карте выделяется увеличенным кружочком и другим                цветом;
                <br /><strong>в описание:</strong>
                <br />при выборе города/-дов - во второй трети - появляется описание о городе (общее) / о последнем выбранном городе;
                <br />при выборе новой картинки - в нижней трети - появляется описание тура <br/>    
            </form>
        </div>
    </div>
</div>
