@model Blog
@{
    ViewData["Title"] = "Home Page";
}

<div class="homePage">
    
    @await Html.PartialAsync("../Home/HomeButtonMenuPartial")

    <div class="homeHeaderOne">
        <div class="titleImage50">
            <img src="@Model.TitleImagePath" alt="@Model.TitleImagePath" align="left">
            @*<p>Расположение фото: </p>
            <h3>@Model.TitleImagePath</h3>*@
        </div>
        <div>
            <h2>@Model.Name</h2>
        </div>
        <div>
            @Html.Raw(Model.FullDescription)
        </div>
        <div class="displayFlexRow">
            <h4>Id блога: @Model.Id</h4>
            <h4>Дата: @Model.DateAdded</h4>
        </div>
        <div>
            <h3>Все сообщения: </h3>
            <div class="list-blog-messages">
                @Html.Raw(@Model.FullMessageLine)
            </div>
        </div>
        <form asp-controller="Blogs" asp-action="SaveBlogMessage" method="post">
            <div class="add-messages">
                <input type="hidden" name="blogId" value="@Model.Id" />
                <h3 class="marginTop05">Пользователь: </h3>
                <input type="text" name="userName" placeholder="Имя пользователя" class="blog-user" />
                <h3 class="marginTop05">Сообщение: </h3>
                <textarea rows="5" cols="50" name="message" placeholder="Текст сообщения" class="blog-message"></textarea>
                <button type="submit" class="" id="btnSend">Отправить</button>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/microsoft-signalr/signalr.js"></script>
<script src="~/js/sendmessage.js"></script>